.flexibleContent {
  margin-top: 5px;
  margin-right: 40px;
  min-height: 100px;
  width: 800px;
  position: absolute;
  right: 10px;
  top: 45px;
}
.titlePop {
  font-size: 15px;
  display: flex;
  height: 35px;
  background-color: #02080e;
  color: white;
  font-family: PingFang-SC-Bold;
}
.titlePop:hover {
  cursor: move;
}
.titlePop .text {
  line-height: 35px;
  padding-left: 10px;
  width: 200px;
}
.titlePop .close {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
}
.titlePop .close:hover {
  color: red !important;
}
.titlePop .close:hover {
  cursor: pointer;
}
.container {
  height: 400px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
}
:global .ant-popover-title {
  font-size: 16px;
  display: flex;
  background-color: #1890ff;
  color: white;
  font-family: PingFang-SC-Bold;
}
:global .ant-popover-placement-bottom .ant-popover-arrow {
  display: none;
}
:global .ant-popover-inner {
  padding: 0;
}
:global .ant-popover .ant-popover-inner {
  box-shadow: none;
}
:global .ant-popover .ant-popover-inner,
:global .ant-popover-inner-content,
:global .ant-popover-content {
  background-color: rgba(24,143,255,0);
  padding: 0;
}
:global .ant-radio-group {
  position: absolute;
  bottom: 3px;
  right: 10px;
}
:global .ant-radio-group .ant-radio-wrapper {
  color: aliceblue;
}
